{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tic-Tak - the best game of the world</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'tictac/css/main.css' %}"/>
</head>
<body>
<div class="container mt-4" id="game-frame" style="height: 95vh">
    <div class="row mb-4">
        <div class="col-3 border shadow rounded" style="height: 90vh">
            <input class="w-100 btn btn-outline-success mt-4" type="button" value="reset game" onclick="reset()" />
        </div>
        <div class="col-4">
            <div id="game-field">
                {% include "game_field_widget.htm" %}
            </div>
        </div>
        <div class="col-5">
            <div class="alert alert-primary"></div>
        </div>
    </div>
</div>
</body>


{% block javascript %}
    <script>

        function reset() {
            $.ajax({
                type: 'POST',
                url: '{% url "post/reset-game" %}',
                success: function (response) {
                    $("#game-field").html(response.content);
                },
                error: function (response) {
                    console.log(response);
                }
            });
        }

        function s(cell_index) {
            let serializedData = {"index": cell_index};
            $.ajax({
                type: 'POST',
                url: '{% url "post/cell-action" %}',
                data: serializedData,
                success: function (response) {
                    console.log(response.content);
                    $("#game-field").html(response.content);
                },
                error: function (response) {
                    console.log(response);
                }
            });
        }
    </script>
{% endblock javascript %}

</html>