<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tic-Tak - the best game of the world</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-1 border"><button value="">click</button></div>
        <div class="col-1 border"></div>
        <div class="col-1 border"></div>
    </div>
    <div class="row">
        <div class="col-1 border"></div>
        <div class="col-1 border">test2</div>
        <div class="col-1 border"></div>
    </div>
    <div class="row">
        <div class="col-1 border"></div>
        <div class="col-1 border"></div>
        <div class="col-1 border">test3</div>
    </div>
</div>
<span class="cancel-link">we are use template file!</span>
<button class="button active">test</button>

</body>
</html>