{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tic-Tak - the best game of the world</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'ticktack/css/main.css' %}"/>
</head>
<body>

<div class="container mt-4">
    <div class="row d-flex justify-content-center">
        <div class="bg-light border col-4 shadow rounded mb-3">
            <div class="row d-flex justify-content-center">
                <div class="col-3 tack">
                    <a target="_blank" href="tack_control.htm">
                        <span class="">O</span>
                    </a>
                </div>
                <div class="col-3 tick">
                    <span>X</span>
                </div>
                <div class="col-3 tick">
                    <span>X</span>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-3 tack">
                    <span class="">O</span>
                </div>
                <div class="col-3 tick">
                    <span>X</span>
                </div>
                <div class="col-3 tick">
                    <span>X</span>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-3 tack">
                    <span class="">O</span>
                </div>
                <div class="col-3 tick">
                    <span>X</span>
                </div>
                <div class="col-3 tick">
                    <span>X</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>